

.foto-perfil {

    border-radius: 80px;
    border: 2px solid darkblue;

}


.card-body {
    background-color: rgb(44, 10, 136);
    color: white;
}




.jumbotron text-center {
    background-color: brown;
}



