body {
    background-image: url('https://img.freepik.com/fotos-premium/varios-equipamentos-de-informatica-com-codigo-de-programacao-em-telas-na-mesa-em-uma-sala-escura-conceito-de-seguranca-cibernetica-espaco-de-copia_236854-23136.jpg?w=2000');
}




ul  {
    margin-right: 150px;
    font-size: 20px;
   color: beige;
    
    
}


.titulo {
color: whitesmoke;
margin-left: 2%;
margin-top: 5%;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.card-body {
    background-image: linear-gradient(210deg, #472aa2 0, #201c85 50%, #000f69 100%);
    color: white;
   border: 3px solid whitesmoke;
   border-radius: 10px;
  padding: 100px;
  
}


.card-body:hover {
    background-image: linear-gradient(210deg, #472aa2 0, #342fc9 50%, #3444a0 100%);
}

.materiais {
    color: rgb(63, 136, 199);
    text-decoration: none;
    font-family:monospace;
}

.tituloo {
    color:white ;
}